{% extends 'base.html.twig' %}

{% block titrePage %}
{% if action == "ajouter" %}
Ajout d'une ressource pédagogique
{% else %}
Modifier une ressource pédagogique
{% endif %}
{% endblock %}

{% block contenuPage %}
Saisissez les caractéristiques de la ressource que vous souhaitez partager.

{{ form_start(vueFormulaire) }}

{{ form_row(vueFormulaire.titre, {'attr':{'placeholder':"Titre de la ressource..."}})}}

{{ form_row(vueFormulaire.descriptif, {'attr':{'placeholder':"Descriptif de la ressource..."}})}}

{{ form_row(vueFormulaire.urlVignette, {'attr':{'placeholder':"Url de l'image présentant la ressource..."}})}}

{{ form_row(vueFormulaire.urlRessource, {'attr':{'placeholder':"Url de la ressource..."}})}}

{{ form_row(vueFormulaire.typeRessource, {'label':"Type de la ressource"})}}

<button type="submit" class="btn btn-dark">Enregistrer</button>

{{ form_end(vueFormulaire) }}


{% endblock %}
